/* src/Register.css */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');


.intro-section h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 1.5em;
    color: #333;
    margin-top:10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f6f8;
}

.registration-container {
    background-color: white;
    width: 100%;
    max-width: 380px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5%);
    transition: transform 0.4s;
}

.registration-container:hover {
    transform: translateY(0);
}

.registration-container h2 {
    text-align: center;
    margin-bottom: 18px;
    font-size: 22px;
    color: #333;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.form-group label {
    width: 100px; /* Set a fixed width for labels to align inputs */
    margin-right: 10px;
    color: #fd0101;
    font-weight: bold;
    font-size: 14px;
    text-align: right; /* Align label text to the right */
}

.form-group input {
    flex: 1; /* Take remaining space in the row */
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #66a6ff;
    outline: none;
    box-shadow: 0 0 6px rgba(102, 166, 255, 0.2);
}

.btn {
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #66a6ff;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
}

.login-link {
    text-align: center;
    margin-top: 12px;
    font-size: 13px;
    color: #333;
}

.login-link a {
    color: #66a6ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.login-link a:hover {
    color: #333;
    text-decoration: underline;
}
